body{
    background: rgb(46, 46, 46);
    max-width: 100vw;
}

main{
    margin-top: 200px;
}

h1{
    text-align: center;
    background-color: #454545;
    color: #fa5;
    height: 15vh;
    margin: 0;
    padding: 25px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

h2 {
    color: white;
    text-align: center;
}
#flag-toggle{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
}
.fa-flag{
    height: 10px;
    width: 10px;
    color: red;
}

.difficulty{
    font-size: 40px;
    color: white;
    background-color: #fa5;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

#gameArea {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

#controlsArea{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            margin-bottom: 30px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fa5;
    background-color: #fa5;
    height: 25px;
    width: 25px;
    margin: 5px;
}

h3{
    color: white;
    font-size: 35px;
}
