body{
    background: rgb(46, 46, 46);
}

main{
    margin-top: 220px;
}

h1{
    text-align: center;
    background-color: #454545;
    color: #fa5;
    height: 15vh;
    margin: 0;
    padding: 25px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

h2 {
    color: white;
    text-align: center;
}

.difficulty{
    font-size: 40px;
    color: white;
    background-color: #fa5;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

#gameArea {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#controlsArea{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
}